In [5]:
import numpy as np
import pandas as pd

In [6]:
np.__version__

'1.22.4'

In [12]:
df = pd.read_csv("data.csv",index_col = 0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [36]:
# Question 3
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [35]:
# Question 4
df[df['Make'] == 'Audi']["Model"].nunique()

34

In [37]:
# Question 5
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.8+ MB

In [80]:
# Question 6
mode = df['Engine Cylinders'].mode().values[0]
print("mode :" ,mode )

median_non = df['Engine Cylinders'].median()
print("median of non fill :" ,median_non )

median_fill = df['Engine Cylinders'].fillna(mode).median()
print("median of non fill :" ,median_fill )

mode : 4.0
median of non fill : 6.0
median of non fill : 6.0

In [169]:
# Question 7
X = np.array(df[df["Make"] == "Lotus"][["Engine HP","Engine Cylinders"]].drop_duplicates())

# Transpose X
X.T

# multiplication Transpose X with X
XTX = np.dot(X.T,X)

# Invert XTX
Inverst_XTX = np.linalg.inv(XTX)

# Create Y array 
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

# Multiply Inverst_XTX with transpose of X, and then multiply the result by y
w = np.dot(np.dot(Inverst_XTX,X.T),y)

# First element of w
w[0]

4.594944810094551